* {
    font-family: "Micro 5", sans-serif;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    background-color: green;
}

.page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    background-color: white;
}

#reset {
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    font-size: 50px;
    background-color: blue;
}